<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>IMDb</title>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="main.css">
  <script type="text/template" id="singleMovieTmpl">
      <img src='<%= cover %>'/>
      <div class='regularMovie'>
        <h1><%= title %></h1>
        <p>(<%= release %>)</p>
        <p>User rating: <%= rating %> / 10</p>
        <p><%= plot %></p>
        <button class="edit">Edit Movie</button>
        <button class="delete">Delete Movie</button>
      </div>
      <div class='editMovie hide'>
        <h2>Edit Movie Details</h2>
        <ul>
          <li><input type="text" class = 'editTitle' name="editTitle" value="<%= title %>"></li>
          <li><input type="text" class = 'editRelease' name="editRelease" value="<%= release %>"></li>
          <li><input type="text" class = 'editCover' name="editCover" value="<%= cover %>"></li>
          <li>Rating: &nbsp;&nbsp;&nbsp;<select class = 'editRating' name="editRating">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option></select></li>
        </ul>
        <ul class = 'plotBox'>
          <li><textarea class = 'editPlot' name="editPlot" rows="10" cols="40"><%= plot %></textarea></li>
          <li><button class="submitEdit">Submit Edit</button> <button class="cancelEdit">Cancel</button></li>
        </ul>
      </div>
    </script>
</head>
<body>
  <div class='container'>
    <div class='navBar'>
      <img src="http://www.mariannehettinger.com/images/300px-IMDb_logo.svg.png"/>
      <div class="entryForm">
        <h2>Movie Not Found?  Add it!</h2>
        <ul>
          <li><input type="text" name="title" value="" placeholder="Movie Title"></li>
          <li><input type="text" name="release" value="" placeholder="Year of Release"></li>
          <li><input type="text" name="cover" value="" placeholder="Cover Image URL"></li>
          <li>Rating: &nbsp;&nbsp;&nbsp;<select name="rating">
            <option value="0" selected>0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option></select></li>
        </ul>
        <ul class = 'plotBox'>
          <li><textarea name="plot" rows="10" cols="40" placeholder="Plot Synopsis"></textarea></li>
          <li><button class="submitMovie">Create Movie</button></li>
        </ul>
      </div>
    </div>
    <select class="sortByMenu" name="sortBy">
      <option value="" disabled selected>Sort By...</option>
      <option value="title">Title</option>
      <option value="release">Release Date</option>
      <option value="rating">Rating (high to low)</option>
    </select>
  </div>

</body>
<script type="text/javascript" src="bundled.js"></script>
<!-- <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
<script type="text/javascript" src="bower_components/backbone/backbone.js"></script>
<script type="text/javascript" src="models.js"></script>
<script type="text/javascript" src="collections.js"></script>
<script type="text/javascript" src="views.js"></script>
<script type="text/javascript" src="main.js"></script> -->
</html>
