<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IMDb</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="main.css">
  <script type="text/template" id="singleMovieTmpl">
      <a href='#movie/<%= _id %>'><img src='<%= cover %>'/></a>
      <div class='regularMovie'>
        <h1><a href='#movie/<%= _id %>'><%= title %></a></h1>
        <p>(<%= release %>)</p>
        <p>User rating: <%= rating %> / 9</p>
        <p><%= plot %></p>
        <button class="edit">Edit Movie</button>
        <button class="delete">Delete Movie</button>
      </div>
      <div class='editMovie hide'>
        <h2>Edit Movie Details</h2>
        <ul>
          <li><input type="text" class = 'editTitle' name="editTitle" value="<%= title %>"></li>
          <li><input type="text" class = 'editRelease' name="editRelease" value="<%= release %>"></li>
          <li><input type="text" class = 'editCover' name="editCover" value="<%= cover %>"></li>
          <li>Rating: &nbsp;&nbsp;&nbsp;<select class = 'editRating' name="editRating">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option></select></li>
        </ul>
        <ul class = 'plotBox'>
          <li><textarea class = 'editPlot' name="editPlot" rows="10" cols="40"><%= plot %></textarea></li>
          <li><button class="submitEdit">Submit Edit</button> <button class="cancelEdit">Cancel</button></li>
        </ul>
      </div>
    </script>

    <script type="text/template" id="addMovieTmpl">
      <div class="entryForm">
        <h2>Movie Not Found?  Add it!</h2>
        <ul>
          <li><input type="text" name="title" value="" placeholder="Movie Title"></li>
          <li><input type="text" name="release" value="" placeholder="Year of Release"></li>
          <li><input type="text" name="cover" value="" placeholder="Cover Image URL"></li>
          <li>Rating: &nbsp;&nbsp;&nbsp;<select name="rating">
            <option value="0" selected>0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option></select></li>
        </ul>
        <ul class = 'plotBox'>
          <li><textarea name="plot" rows="10" cols="60" placeholder="Plot Synopsis"></textarea></li>
          <li><button class="submitMovie">Create Movie</button></li>
        </ul>
        <h4 class='startAnimation'>Movie Added!</h4>
      </div>
    </script>

    <script type="text/template" id="aboutPage">
      <div class="aboutPage">
        <h2>About</h2>
        <p>The Internet Movie Database (abbreviated IMDb) is an online database of information related to films, television programs, and video games, including cast, production crew, fictional characters, biographies, plot summaries, trivia and reviews. Actors and crew can post their own résumé and upload photos of themselves for a yearly fee. U.S. users can also view over 6,000 movies and television shows from CBS, Sony, and various independent film makers.</p>
        <p>Launched in 1990 by professional computer programmer Col Needham, the company was incorporated in the UK as Internet Movie Database Ltd in 1996, with revenue generated through advertising, licensing, and partnerships. In 1998, it became a subsidiary of Amazon.com, who were then able to use it as an advertising resource for selling DVDs and videotapes.</p>
        <p>As of April 2015, IMDb had approximately 3.3 million titles (includes episodes) and 6.5 million personalities in its database, as well as 60 million registered users and is an Alexa Top 50 site.</p>
        <p>The site enables registered users to submit new material and request edits to existing entries. Although all data are checked before going live, the system has been open to abuse, and occasional errors are acknowledged. Users are also invited to rate any film on a scale of 1 to 10, and the totals are converted into a weighted mean-rating that is displayed beside each title, with online filters employed to deter ballot-stuffing. The site also features message boards, which stimulate regular debates among authenticated users.</p>
      </div>
    </script>

    <script type="text/template" id="contactPage">
      <div class="contactPage">
        <h2>Contact Page</h2>
        <p>For technical support</p>
        <p>email: marktkimball@gmail.com</p>
        <ul>
          <li><a href="https://www.facebook.com/imdb"><i class="fa fa-facebook-square"></i> Facebook</a></li>
          <li><a href="https://instagram.com/imdblive/"><i class="fa fa-instagram"></i> Instagram</a></li>
          <li><a href="https://twitter.com/imdb"><i class="fa fa-twitter-square"></i> Twitter</a></li>
        </ul>
      </div>
    </script>

    <script type="text/template" id="sortMenuTmpl">
      <p class="sortByMenu">Sort movies by: &nbsp;&nbsp;&nbsp; <select name="sortBy">
        <option value="" disabled selected>-</option>
        <option value="title">Title</option>
        <option value="release">Release Date</option>
        <option value="rating">Rating (low to high)</option>
      </select></p>
    </script>
</head>

<body>
  <div class='container'>
    <div class='navBar'>
      <a href = "#home"><img src="assets/imdbLogo.png"/></a>
      <p>...the latest on Hollywood's best.</p>
    </div>
    <div class='subMenu'>
      <ul>
        <li><a href='#about'><h2>About IMDb</h2></a></li>
        <li><a href='#contact'><h2>Contact IMDb</h2></a></li>
        <li><a href='#addMovie'><h2>Add a Movie</h2></a></li>
      </ul>
    </div>
    <div class="movieZone">
    </div>
  </div>

</body>
<script type="text/javascript" src="bundled.js"></script>
</html>
