body{
  background-color: #CACAC6;
  font-family: 'Oswald', sans-serif;
}
p{
  font-weight: 300;
}

.navBar{
  background: linear-gradient(to bottom,#646464 0,#0e0e0e 100%);
  display:flex;
  padding: 20px;
  border-radius: 5px 5px 0px 0px;
}

.navBar img{
  max-width: 300px;
  max-height: 150px;
  width: auto;
  height: auto;
  margin: auto;
  flex-grow: 1;
  padding-right: 20px;
}

ul{
  list-style: none;
  display: inline-block;
  width: 40%;
}

.plotBox{
  text-align: right;
}

.entryForm{
  flex-grow: 2;
  background-color: white;
  border: solid 2px #0e0e0e;
  border-radius: 5px;
}

h2{
  text-align: center;
}

input{
  height:20px;
  width: 200px;
  vertical-align: top;
  border-radius: 3px;
  margin-bottom: 20px;
}

textarea{
  border-radius: 3px;
}

.container{
  background-color: white;
  width: 1000px;
  margin:0 auto;
  border-radius: 5px;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.sortByMenu{
  float:right;
  margin:10px;
}

.singleMovie{
  clear: right;
  display: flex;
  border: solid 2px #0e0e0e;
  border-radius: 5px;
  margin: 15px 5px 15px 5px;
}

.singleMovie img{
  margin: auto;
  height:317px;
  width:214px;
  display:inline-block;
}

.regularMovie{
  width: 70%;
  padding: 10px 20px 10px 20px;
}

.regularMovie h1{
  margin: 0px;
}

.singleMovie{
  padding: 25px 50px 50px 50px;
}

.editMovie{
  width: 70%;
  padding: 10px 20px 10px 20px;
}

.hide{
  display: none;
}

@media (max-width: 1000px){
  .container{
    width: 99%;
  }
  .entryForm ul{
    width: 100%;
    text-align: center;
    padding-left: 0;
  }
  .plotBox{
    text-align: center;
  }
  .editMovie ul{
    display:block;
    width: 100%;
  }
  .editMovie input[type=text], .editMovie textarea{
    width: 80%;
    display:block;
  }
}

@media (max-width: 750px){
  .navBar{
    display:block;
    text-align: center;
  }
  input[type=text], textarea{
    width: 80%;
  }
  .singleMovie{
    display:block;
  }
  .regularMovie{
    width: 100%;
    padding:0;
  }
  .editMovie{
    width: 100%;
    padding: 0;
  }
  .editMovie ul{
    padding-left:0;
  }
  .editMovie input[type=text], .editMovie textarea{
    width: 100%;
  }
}
