body{
  background-color: #CACAC6;
  font-family: 'Oswald', sans-serif;
}

p{
  font-weight: 300;
}

a{
  color:black;
  text-decoration: none;
  transition: text-shadow 1s ease;
}

a:hover{
  text-shadow: 0px 0px 4px #444;
}

.navBar{
  background: linear-gradient(to bottom,#646464 0,#0e0e0e 100%);
  display:flex;
  padding: 20px;
  border-radius: 5px 5px 0px 0px;
}

.navBar img{
  max-width: 300px;
  max-height: 150px;
  width: auto;
  height: auto;
}

.navBar a{
  margin: auto;
  flex-grow: 1;
  padding: 0px 10px 0px 10px;
}

ul{
  list-style: none;
  display: inline-block;
  width: 45%;
  padding:0px 20px 0px 20px;
}

.plotBox{
  text-align: right;
  width: 45%;
  padding-right: 20px;
}

.entryForm{
  flex-grow: 2;
  background-color: white;
  border: solid 2px #0e0e0e;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
  margin: 40px 10px 50px 10px;
}

.entryForm h4{
  text-align: center;
  transition: all 1s ease;
}

.startAnimation{
  opacity: 0;
  transform: translateY(0px);
}

.addAnimation{
  opacity:1;
  transform: translateY(-50px);
}

h2{
  text-align: center;
}

input{
  height:20px;
  width: 300px;
  vertical-align: top;
  border-radius: 3px;
  margin-bottom: 20px;
}

textarea{
  border-radius: 3px;
}

.container{
  background-color: white;
  width: 1000px;
  margin:0 auto;
  border-radius: 5px;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.subMenu{
  width: 100%;
}

.subMenu ul{
  border: solid 2px #0e0e0e;
  border-left: 0px;
  border-right: 0px;
  width: 100%;
  padding:0;
  text-align: center;
}

.subMenu li{
  width: 32%;
  display: inline-block;
  padding: 10px 0px 10px 0px;
}

.subMenu h2{
  margin: 0;
}

.subMenu p{
  float: right;
  margin: 0px 10px 10px 0px;
}

.singleMovie{
  clear: right;
  display: flex;
  border: solid 2px #0e0e0e;
  border-radius: 5px;
  margin: 15px 5px 15px 5px;
}

.singleMovie a{
  margin: auto;
}

.singleMovie img{
  height:317px;
  width:214px;
  display:inline-block;
  padding-right: 20px;
}

.regularMovie{
  width: 70%;
  padding: 10px 20px 10px 20px;
}

.regularMovie h1{
  margin: 0px;
}

.singleMovie{
  padding: 25px 50px 50px 50px;
}

.editMovie{
  width: 70%;
  padding: 10px 20px 10px 20px;
}

.aboutPage{
  padding: 0px 70px 20px 70px;
}

.contactPage{
  text-align: center;
}

.contactPage h2{
  margin-bottom: 30px;
}

.contactPage ul{
  width: 100%;
}

.contactPage li{
  display: inline-block;
  width: 15%;
}

.hide{
  display: none;
}

@media (max-width: 1000px){
  .container{
    width: 99%;
  }
  .entryForm ul{
    width: 100%;
    text-align: center;
    padding-left: 0;
  }
  .plotBox{
    text-align: center;
  }
  .editMovie ul{
    display:block;
    width: 100%;
  }
  .editMovie input[type=text], .editMovie textarea{
    width: 80%;
    display:block;
  }
}

@media (max-width: 750px){
  .navBar{
    display:block;
    text-align: center;
  }
  input[type=text], textarea{
    width: 80%;
  }
  .singleMovie{
    display:block;
  }
  .regularMovie{
    width: 100%;
    padding:0;
  }
  .editMovie{
    width: 100%;
    padding: 0;
  }
  .editMovie ul{
    padding-left:0;
  }
  .editMovie input[type=text], .editMovie textarea{
    width: 100%;
  }
}
